
body {
    margin: 0;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    &__dot {
        width: 2px;
        height: 10px;
        position: absolute;
        background-color: rgb(231, 231, 231);
        left: 50%;
        transform: translateX(-50%);
        // border-radius: 50%;
    }
}
.dot-container {
    height: 20px;
    width: 10px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
}

.current-dot {
    background-color: rgb(137, 137, 137);
}

.current-dot-light {
    background-color: rgb(165, 165, 165);
}

.current-dot-lighter {
    background-color: rgb(185, 185, 185);    
}

.current-dot-lightest {
    background-color: rgb(201, 201, 201);    
}
