.spinner {
    background-color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;

    &__circle {
        width: 10px;
        height: 10px; 
        background-color: white;
        position: absolute;
        border-radius: 50%;
        top: 0px;
    }

}

.circle-container {
    width: 10px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--1 {

    }

    &--2 {
        transform: rotate(30deg) translate(-50%, -50%);
    }

    &--3 {
        transform: rotate(60deg) translate(-50%, -50%);        
        
    }

    &--4 {
        transform: rotate(90deg) translate(-50%, -50%);        
        
    }

    &--5 {
        transform: rotate(120deg) translate(-50%, -50%);        
        
    }

    &--6 {
        transform: rotate(150deg) translate(-50%, -50%);        
        
    }

    &--7 {
        transform: rotate(180deg) translate(-50%, -50%);        
        
    }
    &--8 {
        transform: rotate(210deg) translate(-50%, -50%);        
        
    }
    &--9 {
        transform: rotate(240deg) translate(-50%, -50%);        
        
    }
    &--10 {
        transform: rotate(270deg) translate(-50%, -50%);        
        
    }
    &--11 {
        transform: rotate(300deg) translate(-50%, -50%);        
        
    }
    &--12 {
        transform: rotate(330deg) translate(-50%, -50%);        
        
    }
}